@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <a onclick="jQueryModalGet('?handler=CreateOrEdit','Create Task')" class="btn btn-primary">
            Create Task
        </a>       
    </div>
    <div id="viewAll" class="card-body  table-responsive"></div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#viewAll').load('?handler=ViewAllPartial');
        });       
    </script>
}
