@model ToDoApp.Web.Models.ToDoItem

@{
    ViewData["Title"] = "Create";
}

<h4>Add/Update Task</h4>
<br />

<div class="container">    
    <form id="create-form" asp-action="AddOrEdit" method="post" onsubmit="return jQueryPost(this);">
        <div class=" row">
            <div class="col-md-4">
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" id="txtId"/>
                <div class="form-group margin-bottom10">
                    <label asp-for="Task" class="control-label margin-bottom5"></label>
                    <input asp-for="Task" class="form-control" id="txtTask" />
                    <span asp-validation-for="Task" class="text-danger"></span>
                </div>
                <div class="form-group margin-bottom10">
                    <label asp-for="EndDate" class="control-label margin-bottom5"></label>
                    <input asp-for="EndDate" class="form-control" id="txtEndDate" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group margin-bottom10">
                    <label asp-for="Assignee" class="control-label margin-bottom5"></label>
                    <input asp-for="Assignee" class="form-control" id="txtAssignee" />
                    <span asp-validation-for="Assignee" class="text-danger"></span>
                </div>                
                <div class="form-group margin-bottom10">
                    <div class="margin-bottom5">Status</div>
                    <select class="col-md-12 form-control" asp-for="Status" name="Status" id="txtStatus">                            
                        <option value="New">New</option>
                        <option value="InProgress">In Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>  
                <div class="row" style="margin-top:30px">
                    <div class="col-md-3">                    
                        <input type="submit" value="Submit" class="btn btn-primary" />                    
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-secondary" asp-action="Index">Back ToDo</a>
                    </div>                    
                </div>
            </div>            
        </div>        
    </form>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>        
        $(document).ready(function() {

            jQueryPost = form => {                  
                $('#create-form').validate();

                if ($('#create-form').valid() === true) {
                    try {
                        $.ajax({
                            type: 'POST',
                            url: form.action,
                            data: $(form).serialize(),
                            success: function(res) {
                                if (res.success) {
                                    window.location.href = '@(Url.Action("Index", "ToDo"))'
                                }
                            },
                            error: function(err) {
                                console.log(err)
                            }
                        })
                        return false;
                    } catch (ex) {
                        console.log(ex)
                    }
                }
            }
        });
    </script>
}
